{% if step_urls is defined %}
<div class="d-flex justify-content-between mt-4 pt-3 border-top">
    <div>
        {% if step_urls.prev %}
        <a href="{{ step_urls.prev }}" class="btn btn-outline-primary">
            <i class="fas fa-arrow-left me-1"></i> Previous Step
        </a>
        {% endif %}
    </div>
    <div>
        {% if step_urls.next %}
        <a href="{{ step_urls.next }}" class="btn btn-primary">
            Next Step <i class="fas fa-arrow-right ms-1"></i>
        </a>
        {% endif %}
    </div>
</div>
{% endif %}